################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/2024_12_07/.vs/2024_12_07
/2024_12_07/Übungen1/obj
